{% extends "base.html" %}

{% block header %}
<h1>todos</h1>
<input id="new-todo" placeholder="What needs to be done?" autofocus>
{% endblock %}

{% block main %}
<input id="toggle-all" type="checkbox">
<label for="toggle-all">Mark all as complete</label>
<ul id="todo-list"></ul>
{% endblock %}

{% block info %}
<p>Double-click to edit a todo</p>
<p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
{% endblock %}

{% block scripts %}
{{ super () }}
<script type="text/template" id="item-template">
    <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
        <label><%- title %></label>
        <button class="destroy"></button>
    </div>
    <input class="edit" value="<%- title %>">
</script>
<script type="text/template" id="stats-template">
    <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
    <ul id="filters">
        <li>
            <a class="selected" href="#/">All</a>
        </li>
        <li>
            <a href="#/active">Active</a>
        </li>
        <li>
            <a href="#/completed">Completed</a>
        </li>
    </ul>
    <% if (completed) { %>
    <button id="clear-completed">Clear completed (<%= completed %>)</button>
    <% } %>
</script>
<script src="{{ url_for('static', filename='bower_components/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/underscore/underscore.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/backbone/backbone.js') }}"></script>
<script src="{{ url_for('static', filename='js/models/todo.js') }}"></script>
<script src="{{ url_for('static', filename='js/collections/todos.js') }}"></script>
<script src="{{ url_for('static', filename='js/views/todo-view.js') }}"></script>
<script src="{{ url_for('static', filename='js/views/app-view.js') }}"></script>
<script src="{{ url_for('static', filename='js/routers/router.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>
$(function(){
    app.todos.url = '{{ url_for("todos.create") }}';
    app.todos.reset({{ todos | tojson }});
});
</script>
{% endblock %}
